
.list--blot{
	list-style: none;
	counter-reset: blot-list;
	& > .list__item{
		counter-increment: blot-list;
		&::before{
			content: counter(blot-list);
			width: 32px;
			height: 32px;
			font-size: 18px;
			margin-right: 1rem;
			font-weight: var(--fw-bold);
			color: var(--white);
			display: inline-flex;
			align-items: center;
			justify-content: center;
			background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="143.663" width="163.495"><defs><clipPath id="a"><path d="M0 107.747h122.621V0H0z"/></clipPath></defs><g clip-path="url(#a)" transform="matrix(1.33333 0 0 -1.33333 0 143.663)" fill="#007dff"><path d="M67.835 87.57c-1.282 4.526-6.986 5.787-11.668 6.243-12.663 1.235-27.092 1.897-36.27-6.914-4.599-4.414-7.063-10.558-9.142-16.584C6.982 59.383 4.053 47.35 7.773 36.402c5.748-16.912 24.935-25.003 42.498-28.26 17.804-3.3 38.403-2.894 51.227 9.89 8.351 8.325 11.735 20.347 13.785 31.958 1.861 10.538 2.663 22.226-3.284 31.122-2.465 3.689-5.93 6.604-9.594 9.107-20.278 13.854-48.285 15.448-70.004 3.982"/><path d="M73.62 89.164c-4.845 12.297-22.044 11.87-33.195 11.273-13.92-.743-25.802-6.622-31.925-19.634C2.206 67.43-2.755 50.283 1.722 35.675c3.648-11.907 13.14-20.682 24.125-25.99 21.35-10.314 53.702-15.05 74.26-.558 11.763 8.292 17.374 21.607 20.203 35.3 2.79 13.501 4.623 29.246-4.1 41.061-9.227 12.497-26.283 19.358-41.215 21.48-15.712 2.234-31.493-.352-45.622-7.587-6.876-3.52-.812-13.878 6.057-10.36 19.14 9.798 42.953 8.941 61.318-2.282 4.645-2.838 9.288-6.35 11.658-11.404 2.504-5.34 2.5-11.536 1.985-17.288-.929-10.39-3.366-21.935-9.108-30.786C89.726 9.444 64.591 10.677 46.427 15.087c-8.776 2.13-17.847 5.406-24.742 11.437-8.86 7.752-10.97 18.48-8.68 29.774 2.277 11.228 6.135 26.4 18.246 30.516 5.12 1.741 10.604 1.845 15.953 1.652 2.496-.09 13.694.43 14.845-2.492 2.798-7.103 14.407-4.009 11.571 3.19"/></g></svg>');
			background-position: center;
			background-repeat: no-repeat;
			background-size: 32px 32px;
			vertical-align: top;
		}
	}
}

