
.btn--inverse{
	background-color: var(--blue_006);
	color: var(--white);
	border-color: var(--blue_006);
    &:hover,
    &:active{
        background-color: transparent;
        color: currentcolor;
        border-color: currentcolor;
    }	
}

