
.popup__wrapper{
	padding-left: var(--page-gap);
	padding-right: var(--page-gap);
	padding-top: var(--page-gap);
	padding-bottom: var(--page-gap);
	background-color: var(--white);
  animation: slide-out-elliptic-bottom-fwd calc(var(--anim-dur)*3) cubic-bezier(0.250, 0.460, 0.450, 0.940) both;	
  @media (--pre-medium-viewport){
          
  }
  @media (--medium-viewport){
    padding-left: calc( var(--page-gap)*2 );
    padding-right: calc( var(--page-gap)*2 );          
  }
  @media (--large-viewport){
    
  } 
}


@keyframes slide-out-elliptic-bottom-fwd {
  0% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% -1400px;
  }
  100% {
    transform: translateY(600px) rotateX(30deg) scale(0);
    transform-origin: 50% 100%;
  }
}