
.btn{
    background-color: transparent;
    color: currentcolor;
    border: 2px solid;
    border-color: currentcolor;
    display: inline-block;
    font-size: 16px;
    line-height: 48px;
    height: 48px;
    min-width: 44px;
    border-radius: 24px;
    max-width: 100%;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    padding-left: 35px;
    padding-right: 35px;
    &:hover,
    &:active{
        background-color: var(--blue_006);
        color: var(--white);
        border-color: var(--blue_006);
    }
}
