
.header__languages{
	display: none;
	margin-right: 30px;
	font-size: 14px;
	&>.list{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		& .list__item{
			&:not(:last-child){
				&::after{
					content: '|';
					display: inline-block;
					margin-left: 9px;
					margin-right: 9px;
				}
			}
		}		
	}
	@media (--medium-viewport){
		display: block;					
	}
	@media (--large-viewport){
		
	}	
}

