
.benefit__actions{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	& > .btn{
		min-width: 235px;
		margin-bottom: 14px;
	}
	@media (--pre-medium-viewport){
		flex-direction: row;
		& > .btn{
			&:not(:last-child){
				margin-right: 14px;
			}
		}					
	}
	@media (--medium-viewport){
					
	}
	@media (--large-viewport){
		
	}	
}

