include ./mixins.pug
doctype html
html(lang="ru")
	+head()
	body.page
		.page__body
			header.header
				.header__wrapper
					.header__side
						.btn.btn--menu.header__menu-toggle
							svg.icon.icon--active.icon--menu
								use(xlink:href="../images/sprite.svg#menu")
						.header__menu
							.header__menu-wrapper
								.toolbar.header__languages
									ul.list.list--reset
										li.list__item
											a.link.link--active(href="#")
												| RU
										li.list__item
											a.link(href="#")
												| EN
										li.list__item
											a.link(href="#")
												| CZ
									.btn.btn--menu.header__menu-toggle
										svg.icon.icon--active.icon--times
											use(xlink:href="../images/sprite.svg#times")
								ul.list.list--reset.header__nav
									li.list__item
										a.link(href="#")
											| FAQ
									li.list__item
										a.link(href="#")
											| Коммисия и сборы
									li.list__item
										a.link(href="#")
											| Условия и положения
									li.list__item
										a.link(href="#")
											| Политика конфиденциальности
									li.list__item
										a.link(href="#")
											| FAQ FATCA
								.header__info
									ul.list.list--reset
										li.list__item
											a.link(href="skype:sales@quickmoneyclick.com")
												svg.icon.icon--active.icon--skype
													use(xlink:href="../images/sprite.svg#skype")
												span
													| sales@quickmoneyclick.com
										li.list__item
											a.link(href="mailto:sales@quickmoneyclick.com")
												svg.icon.icon--active.icon--envelope
													use(xlink:href="../images/sprite.svg#envelope")
												span
													| sales@quickmoneyclick.com
								.header__copy
									p
										| Электронные кошельки предоставляются: FSV Money Pte. Ltd (Сингапур), владеющий правом  stored value facility (SVF). 
									p
										| Регистрационный номер 201619216W. FATCA GIIN:CZCKZE.99999.SL.702
						.logo.header__logo
						.toolbar.header__languages
							ul.list.list--reset
								li.list__item
									a.link.link--active(href="#")
										| RU
								li.list__item
									a.link(href="#")
										| EN
								li.list__item
									a.link(href="#")
										| CZ
						.header__lock
							svg.icon.icon--active.icon--padlock
								use(xlink:href="../images/sprite.svg#padlock")
					.header__side
						.toolbar.header__socials
							a.link(href="#")
								svg.icon.icon--active.icon--vkontakte
									use(xlink:href="../images/sprite.svg#vkontakte")
							a.link(href="#")
								svg.icon.icon--active.icon--facebook
									use(xlink:href="../images/sprite.svg#facebook")
							a.link(href="#")
								svg.icon.icon--active.icon--twitter
									use(xlink:href="../images/sprite.svg#twitter")
						.toolbar.header__actions
							.btn.btn--sm
								| Войти
							.btn.btn--sm.btn--inverse
								| Зарегистрироваться
			main.main
				.slider.slider--main.slider--main-pics
					.slider__container.swiper-container
						.slider__wrapper.swiper-wrapper
							.slider__slide.swiper-slide 
								img.slide__img(src="../images/slide-0.jpg", alt="slide-0" data-bg="true")
							.slider__slide.swiper-slide 
								img.slide__img(src="../images/slide-1.jpg", alt="slide-1" data-bg="true")
							.slider__slide.swiper-slide 
								img.slide__img(src="../images/slide-2.jpg", alt="slide-2" data-bg="true")
							.slider__slide.swiper-slide 
								img.slide__img(src="../images/slide-3.jpg", alt="slide-3" data-bg="true")
							.slider__slide.swiper-slide 
								img.slide__img(src="../images/slide-4.jpg", alt="slide-4" data-bg="true")
				.page__wrapper
					.slider.slider--main.slider--main-text
						.slider__container.swiper-container
							.slider__wrapper.swiper-wrapper
								.slider__slide.swiper-slide
									.benefit.benefit--logo
										h4.benefit__subtitle
											| Электронный кошелек для бизнес решений
										.benefit__pic
											img.img(src="../images/logo.png", alt="QuickMoneyClick")
										h1.benefit__title
											| Лучше, чем банк!
										.benefit__actions
											.btn.btn--inverse
												| Открыть аккаунт
								.slider__slide.swiper-slide
									.benefit
										h2.benefit__title
											| Возможности QMC
										h4.benefit__subtitle
											| Лучше, чем банк!
										.benefit__wrapper
											.wrapper__side
												.benefit__pic
													.icon--wallet
														include ../images/sprites/svg/wallet.svg
											.wrapper__side
												ul.list.list--din
													li.list__item
														| Открытие аккаунта
													li.list__item
														| Пополнение аккаунта
													li.list__item
														| Вывод средств
													li.list__item
														| Мгновенные переводы
										.benefit__actions
											.btn(data-popup="1")
												| Узнать больше
											.btn.btn--inverse
												| Открыть аккаунт
								.slider__slide.swiper-slide
									.benefit
										h2.benefit__title
											| Бизнес-аккаунт
										h4.benefit__subtitle
											| Ваш персональный счёт
										.benefit__wrapper
											.wrapper__side
												.benefit__pic
													.icon--man
														include ../images/sprites/svg/man.svg
											.wrapper__side
												ul.list.list--din
													li.list__item
														| Валюта расчета доллар, евро, чешская крона
													li.list__item
														| Взаиморасчёты
													li.list__item
														| Все сегменты бизнеса
													li.list__item
														| Персонализированный подход
										.benefit__actions
											.btn(data-popup="2")
												| Узнать больше
											.btn.btn--inverse
												| Открыть аккаунт
								.slider__slide.swiper-slide
									.benefit
										h2.benefit__title
											| Мерчант-аккаунт
										h4.benefit__subtitle
											| Решение для вашего бизнеса
										.benefit__wrapper
											.wrapper__side
												.benefit__pic
													.icon--hands
														include ../images/sprites/svg/hands.svg
											.wrapper__side
												ul.list.list--din
													li.list__item
														| Приём онлайн-платежей со всего мира
													li.list__item
														| Обратные выплаты
													li.list__item
														| Работа с различными видами бизнеcа
													li.list__item
														| Индивидуальные решения
										.benefit__actions
											.btn(data-popup="3")
												| Узнать больше
											.btn.btn--inverse(data-popup="3-2")
												| Открыть аккаунт
								.slider__slide.swiper-slide
									.benefit
										h2.benefit__title
											| Блокчейн технологии
										h4.benefit__subtitle
											| Технологичные транзакции
										.benefit__wrapper
											.wrapper__side
												.benefit__pic
													.icon--chain
														include ../images/sprites/svg/chain.svg															
											.wrapper__side
												ul.list.list--din
													li.list__item
														| Пополнение аккаунта USD и EUR криптовалютой
													li.list__item
														| Выплаты на криптоадреса
													li.list__item
														| Генерация собственного криптоадреса
													li.list__item
														| Автоконвертация криптовалюты в USD и EUR
										.benefit__actions
											.btn(data-popup="4")
												| Узнать больше
											.btn.btn--inverse
												| Открыть аккаунт
						.swiper-pagination.slider__pagination
						.swiper-button-prev.slider__btn
							svg.icon.icon--active.icon--chewron-left
								use(xlink:href="../images/sprite.svg#chewron-left")
						.swiper-button-next.slider__btn
							svg.icon.icon--active.icon--chewron-right
								use(xlink:href="../images/sprite.svg#chewron-right")
						nav.slider__nav
							input#slide-0(type="radio", disabled, name="slider")
							//-
								label.nav__item(for="slide-0")
							input#slide-1(type="radio", name="slider")
							label.nav__item(for="slide-1")
								span.label__title
									| Возможности QMC
								span.label__caption
									| Лучше, чем банк!
							input#slide-2(type="radio", name="slider")
							label.nav__item(for="slide-2")
								span.label__title
									| Бизнес-аккаунт
								span.label__caption
									| Ваш персональный счет
							input#slide-3(type="radio", name="slider")
							label.nav__item(for="slide-3")
								span.label__title
									| Мерчант-аккаунт
								span.label__caption
									| Решение для Вашего бизнеса
							input#slide-4(type="radio", name="slider")
							label.nav__item(for="slide-4")
								span.label__title
									| Блокчейн технологии
								span.label__caption
									| Технологичные транзакции
			footer.footer
				.page__wrapper
			.popup(data-id="1")
				.page__wrapper
					.popup__wrapper
						.popup__header
							h3.popup__title
								| Наши возможности
							.btn.popup__close
								svg.icon.icon--active.icon--close
									use(xlink:href="../images/sprite.svg#close")
						.popup__main
							.benefit.benefit--popup
								ol.list.list--blot
									li.list__item
										.benefit__caption
											| Открытие аккаунта. Доллары, Евро, Чешская крона.
										.benefit__pic
											include ../images/popup-1.1.svg
									li.list__item
										.benefit__caption
											| Пополнение аккаунта: банковской картой, банковским переводом, криптовалютой.
										.benefit__pic
											include ../images/popup-1.2.svg
									li.list__item
										.benefit__caption
											| Вывод с аккаунта: на банковскую карту, на банковский счёт или на криптоаккаунт.
										.benefit__pic
											include ../images/popup-1.3.svg
									li.list__item
										.benefit__caption
											| Мгновенные переводы. Внутри аккаунта - между своими счетами. Между аккаунтами в системе QMC.
										.benefit__pic
											include ../images/popup-1.4.svg
								.benefit__actions
									h4
										| Откройте счет и начните работу
									.btn.btn--inverse
										| Открыть аккаунт
			.popup(data-id="2")
				.page__wrapper
					.popup__wrapper
						.popup__header
							h3.popup__title
								| Решение для бизнеса
							h4.popup__subtitle
								| Взаиморасчеты в сегментах b2b, b2p, p2p
							.btn.popup__close
								svg.icon.icon--active.icon--close
									use(xlink:href="../images/sprite.svg#close")
						.popup__main
							.benefit.benefit--popup
								ol.list.list--blot
									li.list__item
										.benefit__caption
											| Взаиморасчеты между покупателем и продавцом без участия банковских структур.
										.benefit__pic
											include ../images/popup-2.1.svg
									li.list__item
										.benefit__caption
											| Выплаты за работы, услуги
										.benefit__pic
											include ../images/popup-2.2.svg
									li.list__item
										.benefit__caption
											| Оптимизация налогообложения при использования QMC
										.benefit__pic
											include ../images/popup-2.3.svg
								.benefit__actions
									h4
										| Откройте счет и начните работу
									.btn.btn--inverse
										| Открыть аккаунт
			.popup(data-id="3")
				.page__wrapper
					.popup__wrapper
						.popup__header
							h3.popup__title
								| Мерчант аккаунт
							h4.popup__subtitle
								| Счет торговца для бизнеса в интернете в системе QMC
							.btn.popup__close
								svg.icon.icon--active.icon--close
									use(xlink:href="../images/sprite.svg#close")
						.popup__main
							.benefit.benefit--popup
								ol.list.list--blot
									li.list__item
										.benefit__caption
											| Обычный аккаунт с одной валютой и статусом мерчант
										.benefit__pic.benefit__pic--lg
											include ../images/popup-3.1.svg
									li.list__item
										.benefit__caption
											| Неограниченные возможности по выплатам с мерчант аккаунта
										.benefit__pic
											include ../images/popup-3.2.svg
								.benefit__actions
									h4
										| Откройте счет и начните работу
									.btn.btn--inverse
										| Открыть аккаунт
			.popup(data-id="3-2")
				.page__wrapper
					.popup__wrapper
						.popup__header
							h3.popup__title
								| Открыть мерчант аккаунт
							.btn.popup__close
								svg.icon.icon--active.icon--close
									use(xlink:href="../images/sprite.svg#close")
						.popup__main
							.benefit.benefit--popup.benefit--popup-inline
								.benefit__wrapper
									.wrapper__side
										.benefit__pic.benefit__pic--md
											include ../images/popup-3-2.1.svg
									.wrapper__side
										ol.list
											li.list__item
												| Кликните по ссылке ниже, чтобы скачать форму заявки.
											li.list__item
												| Заполните ее и отправьте на почту info@quickmoneyclik.com
											li.list__item
												| Дождитесь одобрения заявки.
											li.list__item
												| Получите API для интеграции на Ваш сайт.
											li.list__item
												| Начните получать платежи и делать выплаты на своем сайте.
										a.link.link--attach
											svg.icon.icon--active.icon--pdf
												use(xlink:href="../images/sprite.svg#pdf")
											div
												| Скачать форму 
												br
												| (324KB, PDF)
			.popup(data-id="4")
				.page__wrapper
					.popup__wrapper
						.popup__header
							h3.popup__title
								| Блокчейн технологии
							h4.popup__subtitle
								| Технологичные транзакции
							.btn.popup__close
								svg.icon.icon--active.icon--close
									use(xlink:href="../images/sprite.svg#close")
						.popup__main
							.benefit.benefit--popup
								ol.list.list--blot
									li.list__item
										.benefit__caption
											| Принимайте криптовалюту за товары, работы, услуги без открытия криптоаккаунта. Риски большой волатильности курса отсутствуют.
										.benefit__pic.benefit__pic--lg
											include ../images/popup-4.1.svg
									li.list__item
										.benefit__caption
											| При получении криптовалюты она по текущему курсу отображается у вас на аккаунте в долларах или евро.
										.benefit__pic
											include ../images/popup-4.2.svg
									li.list__item
										.benefit__caption
											| Рассчитывайтесь в криптовалюте без наличия криптоаккаунта. У вас есть на аккаунте QMC доллары или евро: подайте заявку на вывод с указанием криптоадреса вашего продавца.
										.benefit__pic
											include ../images/popup-4.3.svg											
								.benefit__actions
									h4
										| Откройте счет и начните работу
									.btn.btn--inverse
										| Открыть аккаунт									
			script(defer, src="https://use.fontawesome.com/releases/v5.0.7/js/all.js")
			script(src="../js/vendors/jquery-3.2.1.min.js")
			script(src="../js/vendors/swiper.min.js")
			script(src="../js/app.js")