
.header__lock{
	color: var(--blue_006);
	display: flex;
	align-items: center;
	justify-content: center;
	@media (--medium-viewport){
		& .icon{
			width: 2em;
			height: 2em;		
		}					
	}
	@media (--large-viewport){
		display: none;
	}	
}

