
.header__lock{
	color: var(--blue_006);
	display: flex;
	align-items: center;
	justify-content: center;
	&:hover{
		color: var(--blue_194);
	}
	@media (--pre-medium-viewport){
		& .icon{
			width: 2em;
			height: 2em;		
		}					
	}	
	@media (--medium-viewport){
		display: none;					
	}
	@media (--large-viewport){

	}	
}

