
.header__logo{
	width: 94px;
	height: 31px;
	background-image: url('../images/logo.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	@media (--pre-medium-viewport){
		width: 132px;
		height: 44px;					
		margin-right: 30px;
	}	
	@media (--medium-viewport){
	
	}
	@media (--large-viewport){

	}	
}