
.slider--main-text{
	flex-grow: 1;
	color: var(--white);
	& .slider__container{

	}
	& .slider__wrapper{
	
	}
	& .slider__slide{
		padding-bottom: 40px;		
	}
	& .slider__btn{
		display: none;
	}	
	& .slider__text{
		
	}	
	& .slider__nav{
		position: absolute;
		z-index: 1;
		bottom: 0;
		right: 50%;
		transform: translateX(50%);
	}
	@media (--pre-medium-viewport){
		& .slider__btn{
			display: block;	
		}		
	}
	@media (--medium-viewport){
		& .slider__slide{
			padding-bottom: 90px;		
		}			
	}
	@media (--large-viewport){
		& .slider__btn{
			display: none;	
		}					
	}	
}

