
.accordion__card--visible{
	margin-bottom: 50px;
	& .accordion__card-body{
		height: auto;
		opacity: 1;
		transform: translateY(0);
	}
	& .accordion__card-title{
		color: var(--blue_102);
		&::after{
			transform: rotate(180deg);
			background-image: url('data:image/svg+xml;utf8,<svg version="1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 451.847 257.569" overflow="scroll"><path d="M203.555 248.303L9.274 54.016c-12.365-12.36-12.365-32.398 0-44.75 12.354-12.355 32.39-12.355 44.744 0l171.909 171.913L397.83 9.27c12.359-12.354 32.394-12.354 44.748 0 12.359 12.354 12.359 32.391 0 44.75L248.294 248.307c-6.18 6.177-14.271 9.262-22.366 9.262-8.1 0-16.196-3.09-22.373-9.266z" fill="#102741"/></svg>');		
		}
	}
}

