
.slider__nav{
	width: 100%;
	padding-left: var(--page-gap);
	padding-right: var(--page-gap);
	display: none;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	&>input{
		display: none;
		&:checked{
			& + .nav__item{
				border-top-width: 4px;
				border-top-color: var(--blue_006);
				border-top-left-radius: 10px;
				border-top-right-radius: 10px;
				padding-top: 15px;
				z-index: 2;
				margin-top: -10px;
				box-shadow: 0px 4px 12px color(#000000 alpha(20%));
				& .label__title{
					color: var(--blue_122);
				}				
				& + input + .nav__item{
					box-shadow: none;
				}				
			}
		}
		&:disabled{
			& + .nav__item{
				opacity: 0.5				
			}
		}		
	}
	& .nav__item{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		background-color: var(--white);
		color: var(--blue_122);
		flex-basis: 25%;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 19px;
		padding-bottom: 19px;
		min-height: 90px;
		border-bottom: none;
		position: relative;
		z-index: 1;
		user-select: none;
		cursor: pointer;
		border-top-width: 0px;
		border-top-style: solid;
		border-top-color: transparent;		
		margin-top: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;	
		box-shadow: 0px 4px 0px color(#000000 alpha(0%));	
		transition: margin-top var(--anim-dur),
					border-top-width var(--anim-dur),
					padding-top var(--anim-dur),
					border-top-left-radius var(--anim-dur),
					border-top-right-radius var(--anim-dur),
					box-shadow var(--anim-dur);
		&:not(:first-of-type){
			box-shadow: inset 1px 0 0 0 color(#000000 alpha(10%));
		}
		&:first-of-type{
			border-top-left-radius: 10px;
		}
		&:last-of-type{
			border-top-right-radius: 10px;			
		}
		&:hover{
			& .label__title{
				color: var(--blue_008);
			}
		}
		& .label__title{
			font-size: 22px;
			font-weight: var(--fw-bold);
			color: var(--blue_006);
			line-height: 1;
		}
		& .label__caption{

		}
	}
	@media (--medium-viewport){
				
	}
	@media (--slider-nav-visible){
		display: flex;					
	}
	@media (--large-viewport){
		
	}	
}



@media (-ms-high-contrast:none){
	_:-ms-fullscreen, :root .slider__nav .nav__item{  /* IE11 */
		margin-right: -1px;
	}
}