
.benefit--popup-inline{
	color: var(--blue_102);
	& .list{
		line-height: 1.85;
		list-style-position: outside;
		padding-left: 18px;
	}
	& .benefit__wrapper{
		& > .wrapper__side{
			&:last-child{
				flex-direction: column;	
				justify-content: center;
				align-items: flex-start;
			}
		}
	}
	& .link--attach{
		color: var(--blue_0d7);
		&:hover{
			color: var(--blue_194);
		}
	}	
	@media (--pre-medium-viewport){
		& .list{
			font-size: 16px;
		}
	}
	@media (--medium-viewport){
		& .benefit__wrapper{
			& > .wrapper__side{
				&:last-child{
					padding-left: 40px;
				}
			}
		}
	}
	@media (--large-viewport) {

	}	
}