
:root{
	/*Variables*/
	--wrapper-max: 1140px; 
	--header-wrapper-max: 1860px; 
	--page-gap: 20px; 
	--menu-gap: 30px; 
	--scrollbar-width:  0px;
	--anim-dur:  0.4s;


	/*Colors*/
	--black: #000000;
	--white: #ffffff;

	--blue_006:  #0062ae;
	--blue_194:  #194c8b;
	--blue_122:  #12243e;
	--blue_102:  #102741;
	--blue_51c:  #51ccff;
	--blue_122:  #12253f;
	--blue_282:  #282f39;
	--blue_0d7:  #0d70b6;
	
	--gray_191:  #191919;


	/*Fonts*/
	--fw-thin: 100;
	--fw-extra-light: 200;
	--fw-light: 300;
	--fw-normal: 400;
	--fw-medium: 500;
	--fw-semi-bold: 600;
	--fw-bold: 700;
	--fw-extra-bold: 800;
	--fw-black: 900;
	
}


@custom-media --pre-medium-viewport (width > 563px);
@custom-media --medium-viewport (width > 1023px);
@custom-media --large-viewport (width > 1279px);
@custom-media --header-hlp-viewport (width > 1919px);

@custom-media --slider-nav-visible (width > 1179px);

@custom-selector :--all-headers h1, h2, h3, h4, h5, h6;
@custom-selector :--table-cell td, th;

/* FONTS */

@font-face {
    font-family: Circe;
    src: 	'../fonts/Circe/CirceRegular.woff',
    		'../fonts/Circe/CirceRegular.woff2';
    font-style: normal;
    font-weight: var(--fw-normal);
}

@font-face {
    font-family: Circe;
    font-style: normal;
    src: 	'../fonts/Circe/CirceBold.woff',
    		'../fonts/Circe/CirceBold.woff2';
    font-weight: var(--fw-bold);
}

@font-face {
    font-family: Circe;
    font-style: normal;
    src: 	'../fonts/Circe/CirceLight.woff',
    		'../fonts/Circe/CirceLight.woff2';
    font-weight: var(--fw-light);
}


/* OTHER */

*{
	box-sizing: border-box;
	max-width: 100%;
	word-break: break-word;
	&:matches(:active,:focus){
		
	}
	&:visited{
		
	}
}

html,
body{
	width: 100%;
	min-height: 100%;
	margin:  0;
	padding: 0;
	font-family: Circe, sans-serif;
	font-size: 16px;
	line-height: 1.4;
	color: var(--black);
	font-weight: var(--fw-normal);
}

a{
	color: currentcolor;
	&:hover,
	&:active{
		color: var(--blue_006);
	}
}

img{
	max-width: 100%;
}

@supports(object-fit: contain){
	img{
		object-fit: contain;
	}
}

:--all-headers{
	font-weight: var(--fw-bold);
}

h1{
	font-size: 2.25rem; /*36px*/
	@media (--pre-medium-viewport){
		font-size: 3rem; /*48px*/	
	}		
	@media (--medium-viewport){
		font-size: 4.5rem; /*72px*/
	}
	@media (--large-viewport){
		font-size: 4.5rem; /*72px*/
	}	
}
h2{
	font-size: 1.875rem; /*30px*/
	@media (--pre-medium-viewport){
		font-size: 3rem; /*48px*/
	}	
	@media (--medium-viewport){
		font-size: 3.75rem; /*60px*/
	}
	@media (--large-viewport){
		font-size: 3.75rem; /*60px*/		
	}
}
h3{
	font-size: 1.5rem; /*24px*/	
	@media (--medium-viewport){
		font-size: 1.875rem; /*30px*/
	}
	@media (--large-viewport){
		font-size: 2.25rem; /*36px*/
	}
}
h4{
	font-size: 1.125rem; /*18px*/	
	@media (--pre-medium-viewport){
		font-size: 1.5rem; /*24px*/	
	}
	@media (--medium-viewport){
		font-size: 1.875rem; /*30px*/
	}	
	@media (--large-viewport){
		font-size: 1.875rem; /*30px*/	
	}	
}
h5{
	font-size: 16px;
	/*@media (--medium-viewport){
		font-size: 20px;
	}*/
	@media (--large-viewport){
		font-size: 1.5rem;/*24px*/
	}	
}
h6{
	font-size: 14px;
	/*@media (--medium-viewport){
		font-size: 18px;
	}
	@media (--large-viewport){
		font-size: 18px;
	}*/	
}





