
.header__socials{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	margin-right: 40px;
	color: var(--blue_006);
	&>.link{
		display: block;
		margin-left: 11px;
		margin-right: 11px;
		&:hover,
		&:active{
			color: var(--blue_008);
		}
	}
	@media (--medium-viewport){
	
	}
	@media (--large-viewport){
		
	}		
}

